@import './markdown.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13,148,136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

html {
  @apply bg-gray-900 text-white;
}

input {
  @apply bg-gray-700 rounded p-2 focus:(ring ring-teal-500/40);
}

button {
  @apply p-2 px-4 rounded hover:(bg-opacity-25) transition-colors duration-350 shadow text-shadow;
}

.btn-primary {
  @apply bg-teal-500 text-white;
}

.btn-secondary {
  @apply bg-gray-700 ;
}

h1 {
  @apply text-3xl mb-4 underline underline-offset-8 underline-teal-500;
}

* {
  outline: none;
}
